* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {}
body {}

.wrapper {
  max-width: 1000px;
  margin: 100px auto 0 auto;
}

.loginTip {
  font-size: 1rem;
  text-align: right;
}

